# Firebase Environment Variables (For Vercel Deployment)
VITE_FIREBASE_API_KEY=AIzaSyCdZQq9kBwQ-k4GgJkxLtlRYWDn93BLmWc
VITE_FIREBASE_AUTH_DOMAIN=kiranastore-50caa.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kiranastore-50caa
VITE_FIREBASE_STORAGE_BUCKET=kiranastore-50caa.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=938465026733
VITE_FIREBASE_APP_ID=1:938465026733:web:e5341389c4d5995ccb1c24
VITE_FIREBASE_MEASUREMENT_ID=G-01VYZMYF84
